.style-new_replies .thread:has(.icon-pushpin-gold) { visibility:hidden; height:0; margin:0; border:0; }
.style-grid .thread:has(.icon-pushpin-gold), .style-compact .thread:has(.icon-pushpin-gold), .style-subjects .thread:has(.icon-pushpin-gold) { display:none; }
/* Fix board list */
#sidebar .category-menu {
    display: block;
}.toggle-category {
    display: none !important;
}#sidebar .category-menu p {
    padding-left: 0px;
}.category-menu-wrapper .category-menu.hidden {
   display: block !important;
}
/* Make thumbnail background black */
.file img,.file canvas{background:transparent}
/* Limit polls sizes */
.poll {
    max-width: 600px;
}
#content {
    max-width: 100%;
}
#content .navigation {
justify-content: left;
}
#sidebar nav#nav-threads{
    display: inline-block;
}
nav#nav-threads button.followed-button span{
   line-height: 0.5;
}
nav#nav-threads button.notifications-button span{
    line-height: 1;
}
html { font-family: Arial, sans-serif; }
.post-meta .name { font-family: Arial, sans-serif !important ; }
header h1 { font-size: 28px !important; }
header h1 { font-family: Tahoma, Verdana !important; }
header h1 { letter-spacing: -1px !important; }
header h1 { font-weight: 700 !important; }
header h2 { font-style: italic; }
header h2 { font-size: 16px; }
:root { --font-family: Arial, sans-serif; }
body {
    background-color: #3b4252 !important;
    /*background:  url('https://raw.githubusercontent.com/FyrN22/Ylis-classic-theme/main/image.png') right center fixed !important;*/
    -webkit-background-size: cover;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-weight: bold;
   /* background-position: center !important; */
}
#sidebar {
    background-color: #2e3440 !important;
    font-size: 14px !important;
    fontcolor: #555500 !important;
    border-right: 1px solid #4c566a !important;
}
#sidebar a {
  color: #81a1c1 !important;
}
.thread {
    background-color: rgba(255, 255, 255, .0) !important;
    border: 1px solid #2e3440 !important;
    border-radius: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    font-weight: normal;
}
.post {
    background-size: cover !important;
    background-color: #434c5e !important;
    width: fit-content !important;
    border: 1px solid #2e3440 !important;
    border-radius: 3px !important;
    border-left: 0px !important;
    border-top: 0px !important;
}
.op-post {
    background-color: rgba(255, 255, 255, .0) !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}
.post-button {
    background:#2e3440 !important;
    border: 0px solid #7a080a !important;
    border-radius: 3px !important;
    color:#eceff4 !important;
    font-size:small !important;
}
.icon-alarm {
    background-color:#434c5e !important;
    font-size: 14px !important;
    border: 1px solid #81a1c1 !important;
    border-radius: 3px !important;
}
.icon-bookmark2 {
    background-color:#434c5e !important;
    font-size: 14px !important;
    border: 1px solid #81a1c1 !important;
    border-radius: 3px !important;
}
.button {
    background-color:#2e3440 !important;
    border: 1px solid #81a1c1 !important;
    border-radius: 3px !important;
}
.button-dropdown {
    background-color:#434c5e !important;
    border: 1px solid #81a1c1 !important;
    border-radius: 3px !important;
}
.text-tag.op {
    background-color:rgba(255, 255, 255, .0) !important;
    font-size: 16px !important;
    border: 0px solid #7a080a !important;
    color: #a3be8c !important;
    border-radius: 0px !important;
}
.icon-zoom-in {
    background-color:#2e3440 !important;
    border: 1px solid #81a1c1 !important;
    color:#81a1c1 !important;
    border-radius: 0px !important;
}
.text-tag.userid {
    background-color:rgba(255, 255, 255, .0) !important;
    font-size: 16px !important;
    color: #81a1c1 !important;
    border: 0px solid #7a080a !important;
    border-radius: 0px !important;
}
#logo img {
    width: 100%;
    height: 100%;
    scale: 1.4;
    justify-content: right;
    content: url('https://raw.githubusercontent.com/FyrN22/Ylis-classic-theme/main/norppa_ylilauta_175px.png')     
}
#logo {
    color: #7a080a;
    font-size: 16px;
}
.new-user {
    border: 0px !important;
}
.post.own {
    border-top: 3px solid #bf616a !important;
}
#sidebar a:hover {
  color: #81a1c1 !important;
}
.post-button:hover {
    background:#81a1c1 !important;
    color:#ffffff#e5e9f0 !important;
    font-size:medium !important;
}
.post-button.active {
    background:#2e3440 !important;
    color:#e5e9f0 !important;
    font-size:small !important;
}
button {
    background-color:#2e3440 !important;
    border: 1px solid #81a1c1 !important;
    border-radius: 3px !important;
}
.icon-star-full {
    background-color:rgba(255, 255, 255, .0) !important;
    border: 0px solid #7a080a !important;
    border-radius: 0px !important;
}
.icon-star-empty {
    border: 0px solid #7a080a !important;
}
.icon-cog {
    border: 0px solid #7a080a !important;
    background-color:rgba(255, 255, 255, .0) !important;
}
.text-button {
    border: 0px solid #7a080a !important;
    background-color:rgba(255, 255, 255, .0) !important;
}
.post-form {
    background-color:#2e3440 !important;
    border: 1px solid #434c5e !important;
    border-radius: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;    border-radius: 0px !important;
}
input, textarea, select {
    background-color:#2e3440 !important;
    border: 0px solid #3b4252 !important;
    border-radius: 0px !important;
}
.create-thread {
    background-color: #3b4252 !important;
    width: fit-content !important;
    border: 2px solid #81a1c1 !important;
}
.confirm {
    background-size: cover !important;
    background-color: #3b4252 !important;
    width: fit-content !important;
    border: 2px solid #3b4252 !important;
}
.file-selector-modal {   
    background-size: cover !important;
    background-color: #3b4252 !important;
    width: fit-content !important;
    border: 2px solid #3b4252 !important;
}
.header {
    background-color: #3b4252 !important;
}
.post-form.thread-form {
    background-color: #3b4252 !important;
}
.dropdown {   
    background-size: cover !important;
    background-color: #3b4252 !important;
    width: fit-content !important;
    border: 2px solid #81a1c1 !important;
}

.card.tooltip {
    background-color: #3b4252 !important;
    width: fit-content !important;
    border: 2px solid #81a1c1 !important;
}
